footer{
    .balao-fixo{
        width: 300px;
        color: #fff;        
        float: right;
        text-align: center;
        margin-left: auto;
        bottom: 100px;

        p{
            font-size: 18px;
            font-weight: 600;
        }
    }
}